/* Dannual Report */

.report header {
	background-image: url("/filing/images/report/2020.png");
	background-repeat: no-repeat;
	background-position: left bottom;
	background-size: contain;
	max-width: 100%;
	padding-top: 30%;
	padding-bottom: 30px;
	margin-bottom: 300px;
}

.report header p {
	font-weight: 300;
	font-size: 42px;
	line-height: 58px;
	padding-top: 20px;
	max-width: 1740px;
}

.report h2 {
	font-weight: 700;
	font-size: 56px;
	line-height: 66px;
	padding: 200px 0 30px 0;
}

.report h4 {
	font-size: 28px;
	padding: 50px 0 20px 0;
	text-transform: none;
	opacity: 1;
}

.report h3 sup,
.report h4 sup {
	font-weight: normal;
}

.featured {
	font-weight: 300;
	font-size: 28px;
	line-height: 38px;
	max-width: 1140px;
	padding: 25vh 0 140px 0;
}

.report section {
	max-width: 1680px;
}

.report section p,
.report section blockquote,
.report section hr {
	max-width: 780px;
}

.featured a:hover,
a.email:hover,
.report header p a:hover {
	opacity: 0.5;
	text-decoration: underline;
}

.report header p a {
	text-decoration: none;
	border-bottom: 1px solid #ffffff;
}

.report header p a:hover {
	text-decoration: none;
	border-bottom: 1px solid 0.5;
}

.report .category-emoji {
	font-size: 42px;
	line-height: 52px;
	padding: 20px 0 0 0;
}

/*.emoji {
        animation: animateIn 0.5s;
        -moz-animation: animateIn 0.5s;
        -webkit-animation: animateIn 0.5s;
        -o-animation: animateIn 0.5s;
        animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
        -o-animation-fill-mode: forwards;
        opacity: 0;
      }
      @keyframes animateIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }*/

.report .category {
	padding: 20px 0 180px 0;
}

.report .data {
	padding: 60px 0 60px 0;
}

.report .data div {
	font-size: 20px;
	padding: 0 0 10px 0;
}

.report .name {
	padding: 20px 0 40px 0;
}

.report .name img {
	padding: 0 15px 0 0;
}

.report ul.categories {
	padding: 40px 0 160px 0;
}

.report ul.categories a {
	padding-left: 4px;
}

.report .name p.caption {
	padding-top: 30px;
	line-height: 18px;
}

.report .data span {
	padding-right: 2px;
}

.featured hr {
	margin: 0px 0 20px 0;
}

.report hr {
	margin: 20px 0 30px 0;
}

@media only screen and (max-width: 1680px) {
	.report header {
		background: none;
		padding-top: 32%;
		margin-bottom: 200px;
	}
	.report header h1 {
		font-size: 126px;
		line-height: 136px;
	}
	.report header p {
		max-width: 1420px;
		font-size: 28px;
		line-height: 38px;
	}
	.report section {
		max-width: 1420px;
	}
}

@media only screen and (max-width: 900px) {
	.report header {
		padding-top: 20%;
		margin: 0;
	}
	.report header h1 {
		font-size: 42px;
		line-height: 52px;
	}
	.report h2 {
		font-size: 28px;
		line-height: 38px;
		padding: 60px 0 10px 0;
	}
	.report header p {
		font-size: 20px;
		line-height: 28px;
		padding: 10px 0 10px 0;
	}
	.report h3 {
		font-size: 20px;
		line-height: 28px;
		padding: 10px 0 20px 0;
	}
	.report h4 {
		font-size: 14px;
		padding: 20px 0 10px 0;
	}
	.report p.intro {
		padding: 0;
	}
	/*.featured {
		font-size: 20px;
		line-height: 30px;
	}*/
	/*.images,
	.featured {
		padding: 140px 0 70px 0;
	}
	.featured hr {
		margin: 0px 0 5px 0;
	}*/
	.report ul.categories {
		padding: 20px 0 40px 0;
	}
	.report .category {
		padding: 40px 0 20px 0;
	}
	.report .data {
		padding: 20px 0 20px 0;
	}
	.report .data div {
		font-size: 10px;
		padding: 0 0 10px 0;
	}
	.report .emoji {
		font-size: 28px;
		line-height: 28px;
		padding: 10px 0 0 0;
	}
	.report hr {
		margin: 10px 0 10px 0;
	}
}
@media only screen and (max-width: 320px) {
	.report header h1 {
		font-size: 56px;
		line-height: 66px;
	}
	.report h2 {
		font-size: 18px;
		line-height: 24px;
	}
}
