/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */

/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}
audio,
canvas,
video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
audio:not([controls]) {
	display: none;
}
[hidden] {
	display: none;
}

/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	scroll-behavior: smooth;
}

html,
button,
input,
select,
textarea {
	-webkit-font-smoothing: antialiased;
	font-family: Söhne, Helvetica, sans-serif;
	color: #ffffff;
}

body {
	margin: 0;
	font-size: 0.8em;
	line-height: 1.6;
	background-color: #060606;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection {
	background: #ffffff;
	color: #000000;
	text-shadow: none;
}
::selection {
	background: #ffffff;
	color: #000000;
	text-shadow: none;
}

/* =============================================================================
   Links
   ========================================================================== */

a {
	color: #dddddd;
	outline: none;
	text-decoration: underline;
}
a:visited {
	color: #dddddd;
}
a:hover {
	color: #dddddd;
	opacity: 0.4;
}
a:focus {
	outline: none;
}

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
/*a:hover, a:active { outline: 0; }*/

/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

blockquote {
	margin: 1em 40px;
}

dfn {
	font-style: italic;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

ins {
	background: #ff9;
	color: #000;
	text-decoration: none;
}

mark {
	background: #ff0;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

/* Redeclare monospace font family: h5bp.com/j */
pre,
code,
kbd,
samp {
	font-family: monospace, serif;
	_font-family: "courier new", monospace;
	font-size: 1em;
}

/* Improve readability of pre-formatted text in all browsers */
pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

q {
	quotes: none;
}
q:before,
q:after {
	content: "";
	content: none;
}

small {
	font-size: 85%;
}

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub,
sup {
	font-size: 65%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	opacity: 0.4;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */

ul,
ol {
	margin: 1em 0;
	padding: 0 0 0 40px;
}
dd {
	margin: 0 0 0 40px;
}
nav ul,
nav ol {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}

/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
}

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) {
	overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */

figure {
	margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */

form {
	margin: 0;
}
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
label {
	cursor: pointer;
}

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend {
	border: 0;
	*margin-left: -7px;
	padding: 0;
	white-space: normal;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button,
input,
select,
textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button,
input {
	line-height: normal;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
	*overflow: visible;
}

/*
 * Re-set default cursor for disabled elements
 */

button[disabled],
input[disabled] {
	cursor: default;
}

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
	*width: 13px;
	*height: 13px;
}
input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea {
	overflow: auto;
	vertical-align: top;
	resize: vertical;
}

/* Colors for form validity */
input:valid,
textarea:valid {
}
input:invalid,
textarea:invalid {
	background-color: #f0dddd;
}

/* =============================================================================
   Tables
   ========================================================================== */

table {
	border-collapse: collapse;
	display: block;
	padding-top: 120px;
	padding-bottom: 60px;
}
tr {
	padding: 0;
	margin: 0;
}
td {
	vertical-align: top;
	padding-right: 60px;
	line-height: 1.4;
}

/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: black;
	padding: 0.2em 0;
}

/* ==|== primary styles =====================================================
   Author: Dan Newman
   ========================================================================== */

/* CUSTOM STYLES */

body {
	opacity: 0;
	transition: opacity 5s;
}

.container {
	padding: 30px 40px;
}

.container p {
	margin: 0 0 20px 0;
}

p {
	color: #dddddd;
}

nav a,
p a.alt {
	font-size: 16px;
	text-decoration: none;
}

nav a:hover,
p a.alt:hover {
	opacity: 0.4;
	text-decoration: none;
}

.URL {
	text-transform: uppercase;
	padding-right: 15%;
}

.anchor {
	float: right;
	padding-right: 15%;
}

header {
	max-width: 1220px;
	padding-top: 60vh;
}

.work header {
	padding-top: 50vh;
}

.arrow a {
	text-decoration: none;
	font-size: 24px;
}

.arrow a:hover {
	opacity: 0.4;
}

h1 {
	font-weight: 700;
	font-size: 160px;
	line-height: 160px;
	padding: 20px 0 20px 0;
	margin: 0;
}

h2 {
	font-weight: 300;
	font-size: 40px;
	line-height: 50px;
	padding: 0 0 10px 0;
	margin: 0;
}

h3 {
	font-weight: bold;
	font-size: 42px;
	line-height: 52px;
	padding: 20px 0 20px 0;
	margin: 0;
}

h4,
h5 {
	font-weight: bold;
	font-size: 10px;
	line-height: 18px;
	padding: 20px 0 0 0;
	margin: 0;
	text-transform: uppercase;
}

h4 {
	opacity: 0.2;
}

section {
	max-width: 620px;
}

section ul,
footer ul {
	list-style: none;
	padding: 0;
	margin: 0 0 20px 0;
}

.images {
	max-width: 1680px;
	padding: 25vh 0 140px 0;
}

.row {
	display: flex;
}

.column-100 {
	flex: 100%;
	padding-right: 15px;
}

.column-60 {
	flex: 60%;
	max-width: 1040px;
	padding-right: 15px;
}

.column-40 {
	flex: 40%;
	max-width: 615px;
	padding-right: 15px;
}

p.blurb {
	padding: 20px 0 20px 0;
}

p.employable {
	font-weight: 300;
	font-size: 18px;
	line-height: 26px;
	padding: 20px 0 20px 0;
	max-width: 1280px;
}

p.caption {
	padding: 5px 0 0 0;
}

p.intro {
	font-size: 28px;
	line-height: 36px;
	padding-bottom: 10px;
}

blockquote {
	border-left: 1px solid rgb(221, 221, 221, 0.2);
	padding: 0 20px 0 20px;
	margin: 0;
}

hr {
	margin: 40px 0 20px 0;
	border-top: 1px solid #1a1a1a;
}

hr.large {
	margin: 60px 0 30px 0;
	border-top: 1px solid #1a1a1a;
	opacity: 0.8;
}

.opacity {
	opacity: 0.4;
}

.hover {
	text-decoration: none;
}

.uppercase {
	text-transform: uppercase;
}

.quote {
	padding-top: 8px;
	display: inline-block;
}

footer {
	padding: 40px 0 0 0;
}

/* Dannual Report */

/*.report header {
	background-image: url("/filing/images/2020.png");
	background-repeat: no-repeat;
	background-position: left bottom;
	background-size: contain;
	max-width: 100%;
	padding-top: 30%;
	padding-bottom: 30px;
	margin-bottom: 300px;
}

.report header p {
	font-weight: 300;
	font-size: 42px;
	line-height: 58px;
	padding-top: 20px;
	max-width: 1740px;
}

.report h2 {
	font-weight: 700;
	font-size: 56px;
	line-height: 66px;
	padding: 200px 0 30px 0;
}

.report h4 {
	font-size: 28px;
	padding: 50px 0 20px 0;
	text-transform: none;
	opacity: 1;
}

.report h3 sup,
.report h4 sup {
	font-weight: normal;
}

.featured {
	font-weight: 300;
	font-size: 28px;
	line-height: 38px;
	max-width: 1140px;
	padding: 25vh 0 140px 0;
}

.report section {
	max-width: 1680px;
}

.report section p,
.report section blockquote,
.report section hr {
	max-width: 780px;
}

.featured a:hover,
a.email:hover,
.report header p a:hover {
	opacity: 0.5;
	text-decoration: underline;
}

.report header p a {
	text-decoration: none;
	border-bottom: 1px solid #ffffff;
}

.report header p a:hover {
	text-decoration: none;
	border-bottom: 1px solid 0.5;
}

.report .category-emoji {
	font-size: 42px;
	line-height: 52px;
	padding: 20px 0 0 0;
}*/

/*.emoji {
        animation: animateIn 0.5s;
        -moz-animation: animateIn 0.5s;
        -webkit-animation: animateIn 0.5s;
        -o-animation: animateIn 0.5s;
        animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
        -o-animation-fill-mode: forwards;
        opacity: 0;
      }
      @keyframes animateIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }*/

/*.report .category {
	padding: 20px 0 180px 0;
}

.report .data {
	padding: 60px 0 60px 0;
}

.report .data div {
	font-size: 20px;
	padding: 0 0 10px 0;
}

.report .name {
	padding: 20px 0 40px 0;
}

.report .name img {
	padding: 0 15px 0 0;
}

.report ul.categories {
	padding: 40px 0 160px 0;
}

.report ul.categories a {
	padding-left: 4px;
}

.report .name p.caption {
	padding-top: 30px;
	line-height: 18px;
}

.report .data span {
	padding-right: 2px;
}

.featured hr {
	margin: 0px 0 20px 0;
}

.report hr {
	margin: 20px 0 30px 0;
}*/

/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 1680px) {
	header {
		padding-top: 40vh;
	}
	.work header {
		padding-top: 55vh;
	}
	.images {
		max-width: 1440px;
	}
	.column-40 {
		max-width: 520px;
	}
	/*	.report header {
		background: none;
		padding-top: 32%;
		margin-bottom: 200px;
	}
	.report header h1 {
		font-size: 126px;
		line-height: 136px;
	}
	.report header p {
		max-width: 1420px;
		font-size: 28px;
		line-height: 38px;
	}
	.report section {
		max-width: 1420px;
	}*/
}
@media only screen and (max-width: 1460px) {
	header {
		padding-top: 30vh;
	}
}

@media only screen and (max-width: 900px) {
	.container {
		padding: 20px 20px;
	}
	.anchor {
		display: none;
	}
	.URL {
		padding-right: 25%;
	}
	header {
		padding-top: 40vh;
	}
	.work header {
		padding-top: 55vh;
	}
	/*.report header {
		padding-top: 20%;
		margin: 0;
	}*/
	/*.work header {
		margin: 0;
	}*/
	h1 {
		font-size: 70px;
		line-height: 74px;
	}
	.work header h1 {
		font-size: 38px;
		line-height: 48px;
	}
	.report header h1 {
		font-size: 42px;
		line-height: 52px;
	}
	.report h2 {
		font-size: 28px;
		line-height: 38px;
		padding: 60px 0 10px 0;
	}
	h2,
	h3,
	.report header p {
		font-size: 20px;
		line-height: 28px;
		padding: 10px 0 10px 0;
	}
	.report h3 {
		font-size: 20px;
		line-height: 28px;
		padding: 10px 0 20px 0;
	}
	.report h4 {
		font-size: 14px;
		padding: 20px 0 10px 0;
	}
	p.intro {
		font-size: 18px;
		line-height: 24px;
	}
	.report p.intro {
		padding: 0;
	}
	.featured {
		font-size: 20px;
		line-height: 30px;
	}
	.images,
	.featured {
		padding: 140px 0 70px 0;
	}
	.featured hr {
		margin: 0px 0 5px 0;
	}
	.row {
		display: block;
	}
	.column-100 {
		flex: 100%;
		padding: 0;
	}
	.column-60 {
		flex: 100%;
		padding: 0;
	}
	.column-40 {
		flex: 100%;
		padding: 0;
	}
	.hide {
		display: none;
	}
	.report ul.categories {
		padding: 20px 0 40px 0;
	}
	.report .category {
		padding: 40px 0 20px 0;
	}
	.report .data {
		padding: 20px 0 20px 0;
	}
	.report .data div {
		font-size: 10px;
		padding: 0 0 10px 0;
	}
	.report .emoji {
		font-size: 28px;
		line-height: 28px;
		padding: 10px 0 0 0;
	}
	.report hr {
		margin: 10px 0 10px 0;
	}
	table {
		padding-top: 60px;
	}
	td {
		padding-right: 40px;
	}
}

@media only screen and (max-width: 320px) {
	h1,
	.report header h1 {
		font-size: 56px;
		line-height: 66px;
	}
	h2,
	.report h2 {
		font-size: 18px;
		line-height: 24px;
	}
}

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir {
	display: block;
	border: 0;
	text-indent: -999em;
	overflow: hidden;
	background-color: transparent;
	background-repeat: no-repeat;
	text-align: left;
	direction: ltr;
	*line-height: 0;
}
.ir br {
	display: none;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
	display: none !important;
	visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
	visibility: hidden;
}

/* Contain floats: h5bp.com/q */
.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
	* {
		background: transparent !important;
		color: black !important;
		box-shadow: none !important;
		text-shadow: none !important;
		filter: none !important;
		-ms-filter: none !important;
	} /* Black prints faster: h5bp.com/s */
	a,
	a:visited {
		text-decoration: underline;
	}
	a[href]:after {
		content: " (" attr(href) ")";
	}
	abbr[title]:after {
		content: " (" attr(title) ")";
	}
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	} /* Don't show links for images, or javascript/internal links */
	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	thead {
		display: table-header-group;
	} /* h5bp.com/t */
	tr,
	img {
		page-break-inside: avoid;
	}
	img {
		max-width: 100% !important;
	}
	@page {
		margin: 0.5cm;
	}
	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}
	h2,
	h3 {
		page-break-after: avoid;
	}
}

/* ==|== font styles =====================================================
   Fonts: Söhne by Klim Type Foundry
   ========================================================================== */

/* Light | Leicht */
@font-face {
	font-family: "Söhne";
	font-style: normal;
	font-weight: 300;
	font-display: block;
	src: url("/filing/fonts/soehne-leicht.woff2") format("woff2");
}

/* Regular | Buch */
@font-face {
	font-family: "Söhne";
	font-style: normal;
	font-weight: 400;
	font-display: block;
	src: url("/filing/fonts/soehne-buch.woff2") format("woff2");
}

/* Bold | Dreiviertelfett */
@font-face {
	font-family: "Söhne";
	font-style: normal;
	font-weight: 700;
	font-display: block;
	src: url("/filing/fonts/soehne-dreiviertelfett.woff2") format("woff2");
}
